# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.McM360.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Felipe\Documents\Unity Projects\McM360\.idea\.idea.McM360\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
